@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
  }
  
  body {
    background-color: #f9f9f9;
    color: #333;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
  }
  
  /* Header */
  header.top-bar {
    position: fixed;
    width: 100%;
    background-color: #2c3e50;
    color: white;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1);
  }
  
  header .logo {
    height: 50px;
  }
  
  header .right-buttons {
    display: flex;
    gap: 10px;
  }
  
  header .right-buttons button {
    background-color: #3498db;
    border: none;
    color: white;
    padding: 8px 16px;
    border-radius: 6px;
    cursor: pointer;
    font-weight: bold;
    transition: background-color 0.3s;
  }
  
  header .right-buttons button:hover {
    background-color: #2980b9;
  }
  
  /* Footer */
  footer {
    position: fixed;
    width: 100%;
    bottom: 0;
    left: 0;
    background-color: #2c3e50;
    color: white;
    text-align: center;
    padding: 12px;
    margin-top: auto;
    box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1);
  }

  main{
    flex: 1;
  }

  main.with-header {
    padding-top: 120px;
    padding-bottom: 60px;
  }

/* https://www.youtube.com/watch?v=s6HK0PZmLaM */
/* https://flask.palletsprojects.com/en/stable/patterns/templateinheritance/ */