{% extends 'header_footer_template.html' %}

{% block title %}Add New Book{% endblock %}

{% block styles %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/addbook.css') }}">
{% endblock %}


{% block content %}
<div class="addbook-form-container">
    <h1>Add a New Book</h1>
    <form id="addBookForm">
        <label for="title">Title:</label>
        <input type="text" id="title" name="title" required>

        <label for="author">Author:</label>
        <input type="text" id="author" name="author">

        <label for="genre">Genre:</label>
        <input type="text" id="genre" name="genre">

        <label for="description">Description:</label>
        <textarea id="description" name="description"></textarea>

        <label for="image">Add Image:</label>
        <input type="file" id="bookImage" name="bookImage" accept="image/*" required>

        <button type="submit">Add Book</button>
    </form>
    <p id="message"></p>
</div>
{% endblock %}

{% block scripts %}
<script src="{{ url_for('static', filename='js/addbook.js') }}"></script>
{% endblock %}