{% extends 'header_footer_template.html' %}

{% block title %}{{ book.title }}{% endblock %}

{% block styles %}
<link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css" />
<link rel="stylesheet" href="/static/css/book_details.css">
{% endblock %}


{% block content %}
<div class="card">
    <h1>{{ book.title }}</h1>
    <img src="{{ url_for('image_file', filename='') }}/{{ book.image }}" alt="Book Cover" class="bookImg">
    <p><strong>Author:</strong> {{ book.author }}</p>
    <p><strong>Genre:</strong> {{ book.genre }}</p>
    <p><strong>Description:</strong> {{ book.description }}</p>

    <h3>Book Location</h3>
    <div id="map"></div>

    <button id="exchangeBook">Exchange Book</button>
</div>
{% endblock %}

{% block scripts %}
<script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"></script>


    <script>
        const latitude = "{{ book.owner.latitude }}";
        const longitude = "{{ book.owner.longitude }}";
        const bookTitle = "{{ book.title }}";

        console.log("Title:::" + bookTitle)
        console.log("Lat:::" + latitude)

        document.addEventListener("DOMContentLoaded", function () {
            var map = L.map("map").setView([latitude, longitude], 13);


            L.tileLayer("https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png", {
                attribution: '&copy; OpenStreetMap contributors'
            }).addTo(map);


            L.marker([latitude, longitude]).addTo(map)
                .bindPopup(`<b>${bookTitle}</b><br>Available here.`)
                .openPopup();

            document.getElementById("exchangeBook").addEventListener("click", function () {

                fetch("/exchange_book/{{ book.book_id }}", { method: "POST" })
                    .then(response => response.json())
                    .then(data => {
                        alert(data.message);
                        window.location.href = "/home";
                    })
                    .catch(error => console.error("Error:", error));
            });
        });
    </script>
{% endblock %}
