{% extends 'header_footer_template.html' %}

{% block title %}Home{% endblock %}

{% block styles %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/home.css') }}">
{% endblock %}


{% block content %}
<section class="banner">
    <img src="{{ url_for('static', filename='images/goodreads_banner.png') }}" alt="Banner">
</section>

<div class="container">
    <h2>Available Books for Exchange</h2>
    <div id="booksList"></div>
</div>
{% endblock %}

{% block scripts %}
<script>
    const BOOKS_API_URL = "{{ url_for('get_books') }}";
    var imageUrl = "{{ url_for('image_file', filename='') }}";
</script>

<script src="{{ url_for('static', filename='js/home.js') }}"></script>
{% endblock %}