{% extends 'header_footer_template.html' %}

{% block title %}Register{% endblock %}

{% block styles %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/mybooks.css') }}">
{% endblock %}


{% block content %}
<div class="books-header">
    <h1>My Books</h1>
    <button id="addBookBtn">Add New Book</button>
</div>

<div id="booksContainer" class="books-grid">
    <!-- Books will be dynamically loaded here -->
</div>
{% endblock %}

{% block scripts %}
<script>
    var imageUrl = "{{ url_for('image_file', filename='') }}";
</script>

<script src="{{ url_for('static', filename='js/mybooks.js') }}"></script>
{% endblock %}